@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*

body{
  color: #25272E;
}

.tables{
  margin: 0px 0;
  background: #24272E;

}

.table-element{
  padding: 10px;
  display: inline-block;
  margin: 5px;

}

#element-zero{
  font-family: Asap, sans-serif;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#element-three{
  font-family: Asap, sans-serif;
  position: absolute;
  margin-top: 20px;
  right: 10px;
  font-size: 20px;
  color: blue;

}

#element-two{
  font-family: Asap, sans-serif;
  position: absolute;
  margin-top: 20px;
  right: 253px;
  font-size: 20px;
  color: blue;
}

#element-one{
  font-family: Asap, sans-serif;
  position: absolute;
  margin-top: 20px;
  right: 370px;
  font-size: 20px;
  color: blue;
}

#element-four{
  font-family: Asap, sans-serif;
  position: absolute;
  margin-top: 20px;
  right: 500px;
  font-size: 20px;
  color: blue;
}

.survey{
  font-family: Asap, sans-serif;
  text-align: center;
  color: White;
  padding: 2.5px;
}

h2{
  font-family: Asap, sans-serif;
  text-align: center;
  color: White;
  font-size: 30px;
  padding: 2.5px;
}

#answerLabel{
  font-family: Asap, sans-serif;
  text-align: center;
  color: White;
  padding: 2.5px;
  margin: auto;
}

.questionContainer{
  font-family: Asap, sans-serif;
  text-align: center;
  padding: 5px;
}

.w3-button{
  font-family: Asap,sans-serif;
  margin-left: 5px;
  padding: 5px;
}

body, html {
    height: 100%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

hr {
  height:0.05px;

  clear:both;
  margin:0px;
}
a:hover {
  color:white;
}
a:active {
  color:white;
}
a:visited {
  color:white;
}
a{
  text-decoration: none;
  color:white;
}

#search{
  /* margin:200px; */
  padding: 200px;
  font-family: Asap, sans-serif;
  font-size: 20px;
  color: white;
}
